* {
  box-sizing: border-box;
  outline: none;
}
h2 {
  background: white;
  color: darkblue;
  box-shadow: 0 1px 5px darkgray;
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  height: 30px;
  padding: 3px;
  padding-bottom: 28px;
  z-index: 1;
}
input {
  outline: none;
  border-radius: 5px;
  border: 2px solid;
}
nav {
  position: absolute;
  top: 35px;
  margin-left: -7px;
}
nav a {
  cursor: pointer;
  float: left;
  color: black;
  background: aliceblue;
  text-align: center;
  padding: 1px 10px;
  margin-top: -5px;
}
nav a:hover {
  color: mediumblue;
}
nav a.active {
  color: black;
  background: springgreen;
}
.mySlides {
  width: 310px;
  position: absolute;
  left: 45px;
  margin-top: 50px;
  border: 2px solid springgreen;
  padding: 5px;
}
.mySlides a {
  font-size: 24px;
}
h3, p {
  margin: 0;
}
.fs-box, .bt-box {
  position: absolute;
  border-radius: 6px;
  width: 113px;
}
.fs-box:focus, .bt-box:focus {
  border: 2px solid gold;
}
.fs-label, .bt-label {
  color: gold;
  position: absolute;
  left: 130px;
  font-family: sans-serif;
}
#clarification {
  color: gold;
  position: absolute;
  top: 240px;
  margin-left: 2px;
  font-family: sans-serif;
}
.button {
  position: absolute;
  background: aqua;
  color: navy;
  border-radius: 3px;
  height: 31px;
  cursor: pointer;
  border: none;
}
.button:hover {
  color: blue;
}
.arrow {
  cursor: pointer;
  top: 120px;
  color: darkgray;
  background: none;
  border: none;
  font-weight: bold;
  font-size: 24px;
  position: absolute;
}
.arrow:hover {
  color: gray;
}
#ad {
  position: absolute;
  top: 65px;
  left: 415px;
  width: fit-content;
  height: 95px;
  border: 2px ridge mediumblue;
  padding: 5px;
}
#ad a {
  background: mediumblue;
  color: white;
  width: 125px;
  display: block;
  padding: 3px;
  margin-bottom: -15px;
  text-decoration: none;
}
#calculator {
  background: lightgray;
  padding: 5px;
  padding-right: 7px;
  padding-bottom: 8px;
  border-radius: 5px;
  width: auto;
  position: absolute;
  left: 415px;
  top: 170px;
}
#calculator input {
  width: 185px;
  margin-top: 5px;
  margin-bottom: 3px;
  background: #ececec;
  border: 1px solid;
  border-radius: 2px;
}
.calc-btn {
  width: 35px;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 2px;
  margin: 1px;
  margin-right: -3px;
  padding-left: 3.6px;
}
.calc-btn:hover {
  background: lightgray;
}
